/* Resetowanie stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Globalne style */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  header h1 {
    font-size: 2em;
  }
  
  section {
    margin: 20px 0;
  }
  
  h2 {
    font-size: 1.5em;
    color: #333;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #windows li {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  #linux li {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  #inne li {
    margin-bottom: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  footer a {
    font-size: 0.8em;
  }
  .no-link {
    text-decoration: none;
    color: inherit;
    cursor: default;
  }

  .no-link:hover,
  .no-link:active,
  .no-link:focus {
      text-decoration: none; 
      color: inherit;
      cursor: default;
  }
